<address class="contact">
  <strong>{{site.data.settings.client.name}}</strong>
  {% if site.data.settings.client.brand and site.data.settings.client.brokerage == null %}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% elsif site.data.settings.client.brand == null %}
    <br>
    {{site.data.settings.client.brokerage}}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% elsif site.data.settings.client.brokerage == null %}
    <br>
    {{site.data.settings.client.brand}}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% else %}
    <br>
    {{site.data.settings.client.brand}}
    <br>
    {{site.data.settings.client.brokerage}}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% endif %}
  <a href="tel:1-{{site.data.settings.client.phone}}">{{site.data.settings.client.phone}}</a>
  <br>
  <a href="mailto:{{site.data.settings.client.email}}">{{site.data.settings.client.email}}</a>
</address>

<form class="contact-form" method="post" action="https://formspree.io/{{site.data.settings.client.email}}">
  <input type="text" name="name" placeholder="Name" required>
  <input type="email" name="_replyto" placeholder="Email" required>
  <textarea name="Message" placeholder="Message"></textarea>
  <!-- Cloud cannon settings field -->
  <div class="hidden">
    <input type="hidden" name="_to" value="{{site.data.settings.client.email}}">
    <input type="hidden" name="_subject" value="Contact Message From Your Vyral Video Blog">
    <input type="text" name="_gotcha">
  </div>

  <input type="submit" value="submit">
</form>
<br>

<h2>Here is what some of the top agents are saying about us!</h2>

<p class ="testimonial-text">
An agent making the switch to our team: "Thank you very much. This was right on time. This was great, to get myself situated. Also, all the resources that I can now leverage and I can now see, it was driving me crazy trying to find something. Thank you very much, and I will be contacting you."
</p>
<hr>


<p class ="testimonial-text">
A top KW agent: "Very helpful! You went through everything other than just leads. You took us through a whole system which is very helpful, other than just taking a course to learn one part of the business. The biggest thing I am taking away from this is I was actually just looking for domains. For a domain where exactly I am going to send my CRM leads to, because that search for Northshore homes is really smart."
</p>
<hr>


<p class ="testimonial-text">
One of our own: "We have been using the last month to better our presentations to a virtual one. I think we are going to be like that for some time. I really appreciate you sharing your tools at the beginning. I am really excited to look into Listings to Leads. This was great Mike, thank you!"
</p>
<hr>
